.blogContent p {
    margin-bottom: 1rem;
    margin-top: 1rem;
  
  }
  .blogContent h2{
  
    font-size: 30px;
    font-weight: bold;
  }
  
  .blogContent a{
    color: #000099;
  }

  .navbar {
    background-color: #ffffff;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 10px #A0A0A0;
    opacity: 0.95;
    font-family: "Inter",sans-serif;


  }
  
  .navbar:hover {
    background-color: #9bb8c263;
    backdrop-filter: blur(10px);
  }
  
  .my-element {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #888;
  }
  .my-element2 {
    border-radius: 15px;
    box-shadow: 10px 10px 5px #141414;
  }

  .my-colour{
    color: #000099;
  }

  .main-div{
    font-family: "Inter",sans-serif
  }

  .font-sizes{
    font-size: 30px;
    font-weight: bold;
  }

  .tables1{
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    letter-spacing: 0.1px;
    box-sizing: border-box;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;

  }

  .tables2{
    -webkit-font-smoothing: antialiased;
    text-transform: none;
    letter-spacing: 0.1px;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid black;
    font: inherit;
    vertical-align: baseline;
    margin: 0 auto;
    width: 100%;
    table-layout: fixed;
  }

  .rows1{
    border: 1px solid black;

  }

  .background1{
    background-color: lightblue;
  }

  .image_size{
    max-width: 250px;
    max-height: 250px;
  }

  .image_size2{
    max-width: 300px;
    max-height: 300px;
  }
  .image_size3{
    max-width: 350px;
    max-height: 350px;
  }

  .ullist1 {
    list-style-type: disc;
    margin-left: 18px;
  }
